/*  principal.css
*   Estilo CSS principal, comunes a toda la aplicación.
*/


/* Aplica el tipo de letra 'calibri' a todo el body */
body{ font-family: arial; background-color: #E9E9E9;}

/* Parte de la pantalla que le corresponde al encabezado, cuerpo y pie */
div#encabezado{ height: 150px; width: 60%; margin: auto;}
div#cuerpo{ width: 60%; margin: auto; background-color: white; }
div#pie{ width: 60%; margin: auto;}


/* Estilo de los botones */
div#btn_menu{ float: left; margin: auto;}

/* Estilos comunes entre encabezado y pie */
div#encabezado, div#pie { color: #666; }
