/*  inicio.css
*   Estilos CSS para la sección INICIO en el apartado /app/vistas/inicio
*/

/* Altura del contenido */
div#contenido{ height: 300px; }


/* Estilo para la imagen de bienvenida */
img{ height: 300px; width: 27%; }


/* Estilo para el texto de bienvenida */
span
{
    width: 70%;
    float: right;
    
    padding-top: 130px;
    
    font-size: 20px;
    font-weight: bold;
}