/*  error.css
*   Estilos CSS para la sección ERROR en el apartado /app/vistas/plantilla_404.php
*/

/* Estilo de fondo de la página */
body
{
   
    margin-left: 30%;
    margin-right: auto;
    
    padding: 5px;
    
    background-image: url(./../../imagenes/error/error.jpg);
    color: white;
}

/* Estilo de los enlaces */
a{ color: red; font-weight: bold; text-decoration: none; }

/* Estilo de la imagen :( a lo windows 8 error */
#carita{ float: right; margin-right: 40px; }